/* Définition de la police personnalisée */

@font-face { /* Définition d'une nouvelle police nommée journal */
    font-family: 'journal';
    src: url('polices/journal-webfont.eot');
    src: url('polices/journal-webfont.eot?#iefix') format('embedded-opentype'),
         url('polices/journal-webfont.woff') format('woff'),
         url('polices/journal-webfont.ttf') format('truetype'),
         url('polices/journal-webfont.svg#journal') format('svg');
}

/* Définition de couleurs personnalisées */

:root {
    --main-blocks: rgba(244,244,255,0.85);
    --nav-block: rgb(244,245,220);
    --nav-activate: rgb(86,130,3);
    --article-links: rgb(84,114,174);
    --cv-block: rgba(255,127,0,0.8);
    --thesis-block: rgba(130,196,108,0.7);
    --mail-link: rgb(179,103,0);
    --last-update: rgba(255,0,0,0.7);
    --shadow-image: rgb(133,109,77);
    --picture-caption: rgba(24,24,24,0.3);
}

/* Eléments principaux de la page */

body
{
    font-family: 'Trebuchet MS', Arial, sans-serif;
    background: url('images/picture_0.jpg') no-repeat center;
    background-size: cover;
}

.block
{
    background-color: var(--main-blocks);
    max-width: 964px;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border-radius: 20px / 20px;
    text-align: center;
}

.block__header
{
    margin-top: 20px;
}

.block__content
{
    height: 230px;
    padding-top: 0px;
    overflow: auto;
    display: flex;
    justify-content: space-evenly;
} 

.block__footer
{
    height: 380px;
    padding-bottom: 0px;
    display: flex;
    justify-content: space-between;
}

h2, nav a
{
    font-family: journal, serif;
    font-weight: bold;
    font-size: 1.2em;
    text-transform: uppercase;
}


/* Header */

header h1
{
    font-family: journal, sans-serif;
    font-size: 2.6em;
    font-weight: bold;
}

/* Navigation */

nav
{
    display: inline-block;
    text-align: center;
    background-color: var(--nav-block);
    border-radius: 10px / 10px;
}

nav ul
{
    list-style-type: none;
    padding-left: 20px;
}

nav li
{
    display: inline-block;
    margin-right: 15px;
}

nav a
{
    font-size: 1.3em;
    color: unset;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover
{
    color: var(--nav-activate);
    border-bottom: 4px solid var(--nav-activate);
}

nav li.active
{
    background-color: var(--nav-activate);
}

nav li.active a
{
    color: var(--nav-block);
}

nav li.active a:hover
{
    color: var(--nav-block);
    border-bottom: none;
}

/* Corps */

article, aside
{
    display: inline-block;
    vertical-align: top;
    text-align: justify;
}

article
{
    width: 75%;
    margin-right: 20px;
}


article p
{
    font-size: 0.9em;
}

article a
{
    color: var(--article-links);
    text-decoration: none;
}

article a:hover
{
    border-bottom: 2px dashed var(--article-links);
}

article ul
{
    font-size: 0.9em;
    list-style-type: lower-roman;
}

article ol.s
{
    font-size: 0.9em;
    list-style-type: square;
}

article ol.c
{
    font-size: 0.9em;
    list-style-type: circle;
}

article h3
{
    font-family: journal, sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    color: var(--nav-activate)
}


#CV
{
    background-color: var(--cv-block);
    box-shadow: 0px 2px 5px var(--cv-block);
}

#thesis
{
    background-color: var(--thesis-block);
    box-shadow: 0px 2px 5px var(--thesis-block);
}


aside
{
    position: relative;
    width: 15%;
    height: 70%;
    border-radius: 20px / 50px;
    margin-top: 40px;
    padding: 1px;
    color: white;
    font-size: 0.9em;
    text-align: center;
}

/* Bannière */

/* Préalablement : convert picture_i.jpg -resize 400x400 picture_i.jpg*/
/* for large : convert picture_i.jpg -resize 650x650 picture_i.jpg*/


#banniere_image, #banniere_image_large
{
    margin-top: 10px;
    height: 300px;
    border-radius: 5px;
    position: relative;
    box-shadow: 0px 4px 4px var(--shadow-image);
    margin-bottom: 1px;
    margin-left: 1px;
    margin-right: 1px;
}

#banniere_image
{
    width: 400px;
}

#banniere_image_large
{
    width: 650px;
}

#banniere_description
{
    position: absolute;
    bottom: 0;
    border-radius: 0px 0px 5px 5px;
    width: 99.5%;
    height: 20px;
    background-color: unset;
    color: var(--main-blocks);
    background-color: var(--picture-caption);
    font-size: 0.8em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#banniere_description a
{
    color: var(--main-blocks);
    text-decoration: none;
}

#banniere_description a:hover
{
    border-bottom: none;
}

/* Footer */

footer p, footer ul
{
    font-size: 0.8em;
}

footer h2
{
    font-size: 1.1em;
}

footer a
{
    color: unset;
    text-decoration: none;
}

footer a:hover
{
    color: var(--mail-link);
    border-bottom: 2px dotted var(--mail-link);
}

#contact, #pictures_small, #pictures
{
    display: inline-block;
    vertical-align: top;
}

#pictures_small, #pictures
{
    position:relative;
}

.end
{
    color: var(--last-update);
    font-size: 0.8em;
    font-style: oblique;
}

/* Correctifs pour les vieilles versions d'Internet Explorer */

/* Pour activer un positionnement type inline-block sur les vieilles versions d'IE */

.old_ie header h1, .old_ie nav, .old_ie nav li, .old_ie article,  .old_ie aside, .old_ie #contact, .old_ie #pictures_small, .old_ie #pictures
{
    display: inline;
}

/* Quelques ajustements pour les vieilles versions d'IE */

.old_ie h2, .ie8 h2
{
    font-size: 1.1em;
}

/* Breakpoints */

@media screen and (max-width: 992px) {

    .block__footer
    {
        display: block;
        padding: 5px;
        height: auto;
    }

    #contact, #pictures, #pictures_small
    {
        width: 100%;
        text-align: center;
        padding-bottom: 10px;
    }

    #banniere_image, #banniere_image_large
    {
        box-shadow: unset;
        display: inline-flex;
    }

    #banniere_description
    {
        top: 0;
        width: 100%;
    }
}

@media screen and (max-width: 768px) {

    .block__content
    {
        padding: 0;
    }

    #banniere_image, #banniere_image_large
    {
        width: 100%;
    }

    #banniere_description
    {
        height: 33px;
    }
}

@media screen and (max-width: 576px) {

    nav {
        display: block;
      }

    nav ul {
        padding: 0;
      }

    nav li {
        display: block;
        text-align: center;
        margin: 0;
      }

    aside {
        width: 50%;
        margin-top: 0;
    }

    article
    {
        width: 90%;
        margin-right: 0;
    }

    .block__content
    {
        flex-wrap: wrap;
    }

    .block__footer
    {
        display: block;
        padding: 5px;
        height: auto;
    }

    #contact, #pictures, #pictures_small
    {
        width: 100%;
        text-align: center;
        padding-bottom: 10px;
    }
}

    @media screen and (max-width: 480px) {

        #banniere_description
        {
            height: 50px;
    }
}